.expertise-filter {
  overflow: auto;

  max-block-size: 20rem;

  scrollbar-width: thin;

  > li {
    button {
      background-color: transparent;

      inline-size: 100%;

      border: none;

      padding: 0.25rem 0.5rem;

      text-align: start;

      cursor: pointer;

      &:hover {
        background-color: var(--color-surface-400);
      }
    }
  }
}
