.filter-button {
  background-color: transparent;
  color: inherit;
  display: grid;
  padding: 0.5rem 1rem;
  cursor: pointer;
  place-content: center;
  border-radius: var(--border-radius);
  border: 0.1rem solid currentColor;
  transition: background-color 0.25s ease-in-out;
  transition-property: background-color, color;
  &:hover {
    background-color: var(--color-primary-fade);
    color: var(--color-primary-opposite);
  }
  &.active {
    background-color: var(--color-primary);
    color: var(--color-primary-opposite);
    border-color: var(--color-primary);
  }
}
