.filter {
  .title {
    font-weight: 700;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-block-start: 0.5rem;
    > * {
      flex: 1 0 auto;
    }
  }
}
