.item {
  background-color: transparent;
  color: inherit;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius);
  border: 0.1rem solid currentColor;
  &.active {
    background-color: var(--color-primary);
    color: var(--color-primary-opposite);
    border-color: var(--color-primary);
  }
}
