.header {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding-block: 1rem;

  nav {
    > ul {
      display: flex;
      gap: 2rem;

      > li {
        a {
          &.active {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .cta {
    background-color: transparent;
    color: var(--color-primary);

    margin-inline-start: auto;
    padding: 0.5rem 1rem;

    border: 1px solid currentcolor;
    border-radius: var(--border-radius);

    font-weight: 700;

    cursor: pointer;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-primary-opposite);
    }
  }
}
